 ul{
    list-style-type: none;
    margin: 0;
}
 li{
    display: inline-block;
    /*border 0px solid black;*/
    padding: 5px;
    margin: 10px;

}

#navbar, #footer {
    background-color: rgb(61, 217, 225);
}

body{
    margin: 0px
}

a{
    color: black;
    text-decoration: none;
    font-weight: 900;
}